#wb_iframe_div, #replay_iframe {
  width: 100%;
  height: 100%;
}

/* custom font */
@font-face {
  font-family: "u001";
  font-weight: normal;
  font-style: normal;
  src: url('/static/fonts/u001/u001-reg.ttf') format('truetype');
}
@font-face {
  font-family: "u001";
  font-weight: normal;
  font-style: italic;
  src: url('/static/fonts/u001/u001-ita.ttf') format('truetype');
}

@font-face {
  font-family: "u001";
  font-weight: bold;
  font-style: normal;
  src: url('/static/fonts/u001/u001-bol.ttf') format('truetype');
}

@font-face {
  font-family: "u001";
  font-weight: bold;
  font-style: italic;
  src: url('/static/fonts/u001/u001-bolita.ttf') format('truetype');
}

body .app {
  font-family: "u001", sans-serif;
}