#wb_iframe_div, #replay_iframe {
  width: 100%;
  height: 100%;
}

/* custom font */
@font-face {
  font-family: "u001";
  font-weight: normal;
  font-style: normal;
  src: url('https://static.rhizome.org/static/fonts/u001-rhizome/U001-Reg-v2.4.woff') format('woff');
}
@font-face {
  font-family: "u001";
  font-weight: normal;
  font-style: italic;
  src: url('https://static.rhizome.org/static/fonts/u001-rhizome/U001-Ita-v2.4.woff') format('woff');
}

@font-face {
  font-family: "u001";
  font-weight: bold;
  font-style: normal;
  src: url('https://static.rhizome.org/static/fonts/u001-rhizome/U001-Bol-v2.4.woff') format('woff');
}

@font-face {
  font-family: "u001";
  font-weight: bold;
  font-style: italic;
  src: url('https://static.rhizome.org/static/fonts/u001-rhizome/U001-BolIta-v2.4.woff') format('woff');
}

body .app {
  font-family: "u001", sans-serif;
}